<div class="pbi-card card" *ngIf="pbi">
    <div 
        class="card-header title-section"
        (click)="selectPbi(pbi)"
        [class.iconbg]="keyword"
        [class.publish]="keyword === 'publish'"
        [class.trac]="keyword === 'trac'"
        [class.test]="keyword === 'test'"
        [class.op]="keyword === 'op'"> 
        <div class="title column">
            <h6 class="card-subtitle" [innerHtml]="pbi.id"></h6>
            <h5 class="card-title" [innerHtml]="pbi.title"></h5>
        </div>
        <div class="information column">
            <span class="effort" [innerHtml]="pbi.effort"></span>
            <span class="total-hours" [innerHtml]="pbi.totalHours"></span>
        </div>
    </div>
    <ul class="list-group list-group-flush">
        <li class="list-group-item" *ngFor="let child of pbi.children">
            <hg-pbi-task [id]="child.id" [parentId]="pbi.id"></hg-pbi-task>
        </li>
        <li class="list-group-item">
            <hg-pbi-task [isNew]="true" [parentId]="pbi.id"></hg-pbi-task>
        </li>
    </ul>
</div>
