<div class="sprint" *ngIf="sprint">
    <div class="title">
        <h1 class="h1" [innerHtml]="sprint.name"></h1>
    </div>

    <div class="board">
        <kb-pbi-column [list]="todo" label="To Do"></kb-pbi-column>
        <kb-pbi-column [list]="inProgress" label="In Progress"></kb-pbi-column>
        <kb-pbi-column [list]="testing" label="Testing"></kb-pbi-column>
        <kb-pbi-column [list]="done" label="Done"></kb-pbi-column>
    </div>
    <kb-pbi-list [pbiList]="workItems"></kb-pbi-list>
</div>
