<div class="sprint" *ngIf="sprint">
    <div class="title">
        <h1 [innerHtml]="sprint.name"></h1>
    </div>
    <div class="table" *ngIf="workItems">
        <div class="body">
            <div class="row" *ngFor="let workItem of workItems">
                <div class="pbi" *ngIf="workItem.workItemType === 'Product Backlog Item'">
                    <div class="cell" [innerHtml]="workItem.id"></div>
                    <div class="cell" [innerHtml]="workItem.title"></div>
                </div>
                <div class="task" *ngIf="workItem.workItemType === 'Task'">
                    <div class="cell" [innerHtml]="workItem.id"></div>
                    <div class="cell" [innerHtml]="workItem.title"></div>
                </div>
            </div>
        </div>
    </div>
</div>
