<div class="sprint" *ngIf="sprint">
    <div class="title">
        <h1 class="h1" [innerHtml]="sprint.name"></h1>
    </div>

    <div class="board">
        <hg-pbi-column [list]="todo" label="To Do"></hg-pbi-column>
        <hg-pbi-column [list]="inProgress" label="In Progress"></hg-pbi-column>
        <hg-pbi-column [list]="testing" label="Testing"></hg-pbi-column>
        <hg-pbi-column [list]="done" label="Done"></hg-pbi-column>
    </div>
    <!-- <hg-pbi-list [pbiList]="workItems"></hg-pbi-list> -->
</div>
