<div class="settings-section">
    <div class="directions">
        Select a project for Mercury to view.
    </div>
    <div class="field">
        <span class="field-label">Project: </span>
        <select (change)="changeProject($event)">
            <option
                *ngFor="let project of projects"
                [innerHtml]="project.name"
                [selected]="project.name === currentProject"
                ></option>
        </select>
        <i class="navigate fa fa-arrow-right" (click)="goToProject()" title="Go to {{currentProject}}"></i>
    </div>
</div>