<div class="cell" *ngIf="isLoaded && pbi">
    <span [innerHtml]="pbi.id"></span>
</div>
<div class="cell wide title" *ngIf="isLoaded && pbi">
    <span [innerHtml]="pbi.title"></span>
</div>
<div class="cell" *ngIf="isLoaded && pbi">
    <span [innerHtml]="pbi.effort"></span>
</div>
<div class="cell" *ngIf="isLoaded && pbi">
    <span [innerHtml]="pbi.state"></span>
</div>
<div class="cell" *ngIf="isLoaded && pbi">
    <span [innerHtml]="pbi.backlogPriority"></span>
</div>

<!-- Not loaded -->
<div class="cell" *ngIf="!pbi || !isLoaded">
    <span [innerHtml]="pbiId"></span>
</div>
<div class="cell placeholder" *ngIf="isLoaded && !pbi">
    <i class="fa fa-pulse fa-spinner"></i>
</div>