.cell {
    display: table-cell;
    padding: 0.5em 1em;
    width: 100%;
    flex: 1;

    &.wide {
        flex: 4;
    }

    &.title{
        cursor: pointer;
    }
}

.placeholder {
    column-span: all;
}
