<div class="shader"></div>
<div class="settings-modal">
    <div class="title">
        <h1>Mercury Settings</h1>
    </div>
    <div class="body">
        <div class="field changelog clickable" (click)="navigateChangelog()">
            View Changelog
        </div>
        <div class="field">
            <div class="directions">
                Select a project for Mercury to view.
            </div>
            <hg-project-select></hg-project-select>
        </div>
        <hg-authkey></hg-authkey>
    </div>
</div>
