<div class="shader"></div>
<div class="settings-modal">
    <div class="title">
        <h1>Mercury Settings</h1>
    </div>
    <div class="body">
        <div class="settings-section">
            <div class="field changelog clickable"
                (click)="navigateChangelog()">
                View Changelog
            </div>
        </div>
        <hg-style-config></hg-style-config>
        <hg-project-select></hg-project-select>
        <hg-notification-settings></hg-notification-settings>
        <hg-authkey></hg-authkey>
    </div>
</div>
