<div class="pbi" *ngIf="pbi">
    <div class="menubar">
        <span class="title" [innerHtml]="pbiTitle" (click)="navigateToPbi()"></span>
        <span class="close fa fa-times-circle fa-2x" (click)="close()"></span>
        <span class="close save fa fa-floppy-o fa-2x" (click)="save()"></span>
    </div>
    <div class="field">
        <span class="field-label">Description</span>
        <editor 
            [(ngModel)]="pbi.description"
            [init]="tinySettings"
        ></editor>
    </div>
    <div class="field">
        <span class="field-label">Acceptance Criteria</span>
        <editor 
            [(ngModel)]="pbi.acceptanceCriteria"
            [init]="tinySettings"
        ></editor>
    </div>
</div>