@import '../../../scss/index.scss';

.backlog {
    display: flex;
    flex-flow: column wrap;
    width: 100%;
    .table-header {
        text-transform: uppercase;
        font-weight: 500;
        color: white;
        display: flex;
        @include blue();

        .table-label {
            padding: 1em;
            width: 100%;
            flex: 1;
        
            &.wide {
                flex: 4;
            }
        }
    }
    .table-row {
        display: flex;
        flex-direction: row;
        flex-basis: content;
        height: 3em;

        &:nth-of-type(odd){
            background-color: rgba(0,0,0,0.1);
        }
    }
}
