<div class="navigation">
    <div class="site-name">
        <!-- <h3>Mercury</h3> -->
    </div>
    <div class="nav">
        <ul>
            <li>
                <a routerLink="/">Sprint Board</a>
            </li>
            <li>
                <a routerLink="/environments">Environments</a>
            </li>
            <li>
                <div class="user clickable">
                    <span (click)="logout()">Log out</span>
                </div>
            </li>
        </ul>
    </div>

</div>