@import '../../scss/index';

.navigation {
    @include blue;
    color: #fff;
    display: flex;

    .site-name {
        float: left;
        width: 100%;
        flex-grow: 1;

        padding: 1em;

        h3 {
            margin: 0;
        }
    }

    .nav {
        float: left;
        width: 100%;
        flex-grow: 1;
        flex-shrink: 2;

        ul {
            display: flex;
            justify-content: space-evenly;
            width: 100%;

            margin: 0;

            li {
                flex-grow: 1;
                list-style: none;

                padding: 1em;

                font-size: 1.2em;
                font-variant: small-caps;
                text-align: center;

                a {
                    color: #fff;
                    text-decoration: none;
                }

                transition: background-color 0.5s ease;

                &:hover {
                    background-color: rgba(255, 255, 255, 0.25);
                }

                .user {
                    @include unselectable();
                }
            }
        }
    }
}
