$icon-width: 2em;

.pbi-card {
    .child {
        display: inline;

        &.text {
            width: calc(100% - 2em);
        }

        &.action-icon {
            float: right;
        }
    }
}