$info-color: #17a2b8;
$warning-color: #ffc107;
$danger-color: #dc3545;

$titlebar-height: 32px;

// Dark mode
$dark-bg: rgb(36, 34, 39);
$dark-bg-mid: rgb(52, 49, 55);
$dark-bg-light: rgb(74, 70, 78);
$dark-color: rgb(235, 235, 235);
$dark-color-dark: rgb(180, 180, 180);