.backlog-container {
    display: flex;

    hg-backlog, hg-pbi {
        width: 100%;
        flex: 1;
    }

    hg-pbi {
        position: sticky;
        top: 0;
        align-self: flex-start;
    }
}